# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media

# Environments
.env

# VSCode
.vscode/

# Mac
.DS_Store

# PyCharm
.idea/

# distributions
dist/
build/
*.egg-info/
